# Ignore model checkpoints
checkpoints_distilhubert_asr/
*.pt
*.pth
*.ckpt
*.bin
*.log
wandb/
__pycache__/
*.ipynb_checkpoints

# Ignore data folder
data/
processed_dataset/

# FL
FL_script/FedAvg_checkpoints/
